@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 300;
  src: url('~src/css/fonts/SFUIText-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 400;
  src: url('~src/css/fonts/SFUIText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 500;
  src: url('~src/css/fonts/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 600;
  src: url('~src/css/fonts/SFUIText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 700;
  src: url('~src/css/fonts/SFUIText-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 800;
  src: url('~src/css/fonts/SFUIText-Heavy.ttf') format('truetype');
}