@import '~src/css/fonts.scss';

// Set the default font-family
$typography-font-family : 'SFUIText';


$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #5F56E1;
$accentdark: #6a61ef;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$bg-light  : #f7f7f9;
